/* Inspired by Meyer's Reset v2 (http://meyerweb.com/eric/tools/css/reset/) */
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background: #1e3a62;
  color: white;
}

header.navigation {
  background: #1e3a62;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 2rem;
}
header.navigation h1 {
  font-size: 2.6rem;
}
header.navigation nav {
  justify-self: end;
}
header.navigation a.toggle-menu {
  display: none;
}

a {
  display: inline-block;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
}
a:hover {
  color: #94add1;
  text-decoration: underline;
}

img {
  object-fit: cover;
}

.image {
  box-shadow: 0 0 2rem 0.1rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#hero {
  position: relative;
  height: 90vh;
  display: grid;
  grid-template-columns: [social-s bg-s] 1fr [social-e trans-s col-s] 4fr [col-e trans-e] 1fr [hero-s] 2fr [bg-e] 1fr [hero-e] 1fr;
  grid-template-rows: [col-s] 1fr [hero-s] 4fr [social-s] 1fr [col-e] 1fr [trans-s] 1fr [social-e] 1fr [trans-m] 1fr [hero-e] 1fr [trans-e];
}
#hero::before {
  content: "";
  position: absolute;
  background: linear-gradient(to right, rgba(21, 41, 69, 0.9) 10%, rgba(99, 207, 198, 0.6) 50%), url(https://images.unsplash.com/photo-1483004406427-6acb078d1f2d?auto=format&fit=crop&w=1920&q=10);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  grid-column: bg-s/bg-e;
  grid-row: 1/trans-m;
}
#hero::after {
  content: "";
  position: absolute;
  background: #3669b0;
  height: 100%;
  width: 100%;
  z-index: -1;
  grid-column: bg-e/-1;
  grid-row: 1/trans-m;
}
#hero .hero-image {
  background: url("https://images.unsplash.com/photo-1488345979593-09db0f85545f?auto=format&fit=crop&w=1920&q=10");
  grid-column: hero-s/hero-e;
  grid-row: hero-s/hero-e;
  background-position: bottom;
  background-size: cover;
}
#hero .transition-image {
  background: url("https://images.unsplash.com/photo-1519823551278-64ac92734fb1?auto=format&fit=crop&w=1920&q=10");
  grid-column: trans-s/trans-e;
  grid-row: trans-s/trans-e;
  background-position: center;
  background-size: cover;
}
#hero .hero-text {
  font-size: 7rem;
  font-weight: 700;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.7);
  grid-column: col-s/col-e;
  grid-row: col-s/col-e;
  justify-self: center;
  align-self: center;
}

#social {
  grid-column: social-s/social-e;
  grid-row: social-s/social-e;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.5rem;
}
#social a {
  border: 0.2rem solid white;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
}
#social a:hover {
  color: #94add1;
  border: 0.2rem solid #94add1;
  text-decoration: none;
}

#about {
  background: linear-gradient(#1e3a62 60%, #3669b0);
  padding: 4rem 4rem;
  margin-top: 6rem;
  font-size: 2rem;
  line-height: 2.4rem;
  position: relative;
}
#about h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
#about p {
  border-radius: 1rem;
  background: white;
  color: rgba(0, 0, 0, 0.7);
  padding: 2rem 3rem;
  position: relative;
  z-index: 1;
  width: 60%;
}
#about .about-image {
  background: linear-gradient(to right, rgba(21, 41, 69, 0.9) 10%, rgba(99, 207, 198, 0.6) 50%), url(https://images.unsplash.com/photo-1483004406427-6acb078d1f2d?auto=format&fit=crop&w=1920&q=10);
  background-position: center;
  background-attachment: fixed;
  width: 60%;
  height: 60%;
  position: absolute;
  right: 5%;
  bottom: 35%;
}

#packages {
  padding-top: 9rem;
  background: #3669b0;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-evenly;
}
#packages h2.title {
  color: white;
  font-size: 4.5rem;
  align-self: center;
}

.package {
  background: white;
  box-shadow: 0 0 2rem 0.1rem rgba(99, 207, 198, 0.3);
  padding: 2rem;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
}
.package header {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 2.5rem 0;
}
.package header .title {
  font-size: 3.5rem;
  line-height: 6rem;
}
.package header .price {
  color: #63cfc6;
  font-size: 2.7rem;
}
.package header .time {
  font-size: 2.5rem;
  font-weight: 100;
}
.package .items {
  width: 100%;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.7);
  padding-top: 2rem;
}
.package ul {
  list-style: inside;
}
.package ul li {
  line-height: 2.2rem;
}

#contact {
  background: #3669b0;
}

footer {
  background: #1e3a62;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.6rem;
}
footer a {
  font-size: 1.6rem;
}

.images-used a {
  font-size: 1rem;
}

@media only screen and (max-width: 500px) {
  header.navigation nav.active {
    display: inline-block;
  }
  header.navigation nav a {
    display: none;
  }
  header.navigation a.toggle-menu {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
