html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
  background: $color-primary;
  color: white;
}

header.navigation {
  background: $color-primary;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 2rem;

  h1 {
    font-size: 2.6rem;
  }

  nav {
    justify-self: end;
  }

  a.toggle-menu {
    display: none;
  }
}

a {
  display: inline-block;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;

  &:hover {
    color: $color-tertiary;
    text-decoration: underline;
  }
}

img {
  object-fit: cover;
}

.image {
  box-shadow: 0 0 2rem 0.1rem $black-light;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover; // height: 100%;
  width: 100%;
}

#hero {
  position: relative;
  height: 90vh;
  display: grid;
  grid-template-columns: [social-s bg-s] 1fr [social-e trans-s col-s] 4fr [col-e trans-e] 1fr [hero-s] 2fr [bg-e] 1fr [hero-e] 1fr;
  grid-template-rows: [col-s] 1fr [hero-s] 4fr [social-s] 1fr [col-e] 1fr [trans-s] 1fr [social-e] 1fr [trans-m] 1fr [hero-e] 1fr [trans-e];

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgba(21, 41, 69, 0.9) 10%, rgba(99, 207, 198, 0.6) 50%), url(https://images.unsplash.com/photo-1483004406427-6acb078d1f2d?auto=format&fit=crop&w=1920&q=10);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    grid-column: bg-s/bg-e;
    grid-row: 1/trans-m;
  }

  &::after {
    content: "";
    position: absolute;
    background: $color-secondary;
    height: 100%;
    width: 100%;
    z-index: -1;
    grid-column: bg-e/ -1;
    grid-row: 1/trans-m;
  }

  .hero-image {
    background: url("https://images.unsplash.com/photo-1488345979593-09db0f85545f?auto=format&fit=crop&w=1920&q=10");
    grid-column: hero-s/hero-e;
    grid-row: hero-s/hero-e;
    background-position: bottom;
    background-size: cover; // not getting applied from .image
  }

  .transition-image {
    background: url("https://images.unsplash.com/photo-1519823551278-64ac92734fb1?auto=format&fit=crop&w=1920&q=10");
    grid-column: trans-s/trans-e;
    grid-row: trans-s/trans-e;
    background-position: center;
    background-size: cover;
  }

  .hero-text {
    font-size: 7rem;
    font-weight: 700;
    text-shadow: 0 0.5rem 2rem $black;
    grid-column: col-s/col-e;
    grid-row: col-s/col-e;
    justify-self: center;
    align-self: center;
  }
}

#social {
  grid-column: social-s/social-e;
  grid-row: social-s/social-e;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  font-size: 2.5rem;

  a {
    border: 0.2rem solid white;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;

    &:hover {
      color: $color-tertiary;
      border: 0.2rem solid $color-tertiary;
      text-decoration: none;
    }
  }
}

#about {
  background: linear-gradient($color-primary 60%, $color-secondary);
  padding: 4rem 4rem;
  margin-top: 6rem;
  font-size: 2rem;
  line-height: 2.4rem;
  position: relative;

  h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  p {
    border-radius: 1rem;
    background: white;
    color: $black;
    padding: 2rem 3rem;
    position: relative;
    z-index: 1;
    width: 60%;
  }

  .about-image {
    background: linear-gradient(to right, rgba(21, 41, 69, 0.9) 10%, rgba(99, 207, 198, 0.6) 50%), url(https://images.unsplash.com/photo-1483004406427-6acb078d1f2d?auto=format&fit=crop&w=1920&q=10);
    background-position: center;
    background-attachment: fixed;
    width: 60%;
    height: 60%;
    position: absolute;
    right: 5%;
    bottom: 35%;
  }
}

#packages {
  padding-top: 9rem;
  background: $color-secondary;
  color: $black;
  display: flex;
  justify-content: space-evenly;

  h2.title {
    color: white;
    font-size: 4.5rem;
    align-self: center;
  }
}

.package {
  background: white;
  box-shadow: 0 0 2rem 0.1rem $color-accent-transparent;
  padding: 2rem;
  color: $black;
  border-radius: 1rem;

  header {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 2.5rem 0;

    .title {
      font-size: 3.5rem;
      line-height: 6rem;
    }

    .price {
      color: $color-accent;
      font-size: 2.7rem;
    }

    .time {
      font-size: 2.5rem;
      font-weight: 100;
    }
  }

  .items {
    width: 100%;
    border-top: 0.2rem solid $black;
    padding-top: 2rem;
  }

  ul {
    list-style: inside;

    li {
      line-height: 2.2rem;
    }
  }
}

#contact {
  padding: 9rem 3rem 4.5rem 3rem;
  background: $color-secondary;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .info {
    border-radius: 1rem 0 0 1rem;
    text-align: center;
  }

  .info,
  .form {
    box-shadow: 0 0 2rem 0.1rem $color-accent-transparent;
    background: white;
    color: $black;
    padding: 4rem;
    font-size: 2rem;
    line-height: 3rem;
  }

  a {
    color: $black;
  }

  p {
    padding: 0.5rem;

    &:nth-child(2) {
      border: 0.2rem solid $black;
      border-right: none;
      border-left: none;
    }

  }

  .fas {
    font-size: 2.2rem;
    margin: 0.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;

  input,
  textarea {
    background: white;
    padding: 0.75rem 1rem;
    margin-bottom: 2rem;

    font-family: inherit;
    color: inherit;

    &:focus {
      outline: none;
    }
  }

  input {
    border: none;
    border-bottom: 0.2rem solid $black;
  }

  textarea {
    border: 0.2rem solid $black;
    border-radius: 1rem;
  }

  input[type="submit"] {
    font-size: 2.5rem;
    border: 0.2rem solid $black;
    border-radius: 1rem;

    &:active {
      background: $black;
      color: white;
    }
  }
}

footer {
  background: $color-primary;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.6rem;

  a {
    font-size: 1.6rem;
  }
}

.images-used a {
  font-size: 1rem;
}
