header.navigation {
    nav {
        
        &.active {
            display: inline-block;
        }
        
        a {
            display: none;

        }
    }

    a.toggle-menu {
        display: block;
    }
}
