$font-primary: 'Times New Roman', serif;
$font-accent: 'Montserrat', sans-serif;
$color-primary: rgba(21, 41, 69, 1), #152945;
$color-secondary: rgba(36, 89, 97, 1), #245961;
$color-accent: rgba(87, 150, 85), #579655;